<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
        <link rel="stylesheet" href="../css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="icon" href="../images/logo2.png">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      
        <a class="navbar-brand">LIBRARY</a>
        <img src="../images/logo2.png" width="30" height="30" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <a href="/" class="navbar-brand">Home</a>
          <ul class="navbar-nav">

          <%for(i=0;i<nav.length;i++){%>
              <li>
                <a class="navbar" href="<%=nav[i].link%>"><%=nav[i].name%></a>
              </li>
            <%}%>
          </ul>
          
          </div>
          </nav>


          <div class="container " style="width: max-content;">
          
          <div class="row "style="height:50px"></div>
<h1 style=" text-align: center; color: rgb(226, 226, 226);font-family: fantasy;text-decoration: underline;font-size: 80px;">
AUTHOR
</h1>


<!-- <div class="container sl">
  <h1 id="heading">available books</h1>
   <div class="row">
   
     <div class="col-lg-12 ">
       <div class="card">
        <img src="/images/<%=Author.img%>" class="img-fluid" alt="...">
        <div class="card-body">
          <h4 class="card-title"><%=Author.title%></h4>
          <h4 class="card-subtitle"><%=Author.Author%></h4><br>
          <p class="card-text"><%=Author.Description%></p>
        
        </div>                   
       </div>                    
     </div>
   
     
   </div>       
  </div> -->




  

  <div class="card mb-3" style="height: 400px;width: 800px;" >
    
    <div class="row">
      <div class="  col-md-4">
        <img src="/images/<%=Author.img%>" class="img-fluid" alt="...">
      </div>
      <div class="cam col-md-8">
        <div class="card-body" style="margin-right: 0px;">
          <h5 class="card-title"><%=Author.Author%></h5>
          <p class="card-text"><%=Author.Description%></p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>


</div>





 
  <footer class="page-footer  font-small blue pt-4 max">
    <div class="container-fluid text-center text-md-left">
  

      <div class="row">
       <div class="col-md-4 maz">
       <h5 class="text-uppercase"  style="text-decoration: underline;">LIBRARY</h5>
          <p> A curated collection of sources of information and similar resources, selected by experts and made accessible to a defined community for reference or borrowing, often in a quiet environment conducive to study.</p>
  
        </div>
      <hr class="clearfix w-100 d-md-none pb-3">
  
   
        <div class="col-md-4 mac">
  
      
          <h5 class="text-uppercase"  style="text-decoration: underline;">QUICK LINKS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/Books">Books</a>
            </li>
            <li>
              <a href="/Authors">Authors</a>
            </li>
            <li>
              <a href="/Login">Login</a>
            </li>
            <li>
              <a href="/Signup">SignUp</a>
            </li>
          </ul>
  
        </div>
  
  
  
  
        <div class="col-md-4  maz">
  
          <h5 class="text-uppercase" style="text-decoration: underline;">CONTACT</h5>
  
          <ul class="list-unstyled">
            <li> 
              <i class="fa fa-map-marker" aria-hidden="true"></i> 121,XYZ street,Trivandrum
            </li>
            <li> 
              <i class="fa fa-phone" aria-hidden="true"></i> 006-126-456-12
            </li>
            <li> 
              <i class="fa fa-envelope" aria-hidden="true"></i> support@librarymanagement.com
            </li>
          </ul>
          <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  
        </div>
     
      </div>
  
    </div>
    <div class="footer-copyright text-center py-3 mav">Copyright © Library Management 2020. All rights reserved
   
  
    </div>
   
  
  </footer>
  
  




  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

</body>
</html>